html, body{
	height: 100%;
	width: 100%;
}

.navbar-default{
	border: 0;
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-header .navbar-brand{
	color: #d2d2d2;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #8b8b8b;
}

.nav.navbar-nav.navbar-right li a{
	color: #d2d2d2;
}

.nav.navbar-nav.navbar-right li a:hover,
.nav.navbar-nav.navbar-right li a:focus{
	color: #8b8b8b;
}

.navbar.solid {
	background-color: #fff;
	transition: background-color 1s ease 0s;
	color: #8b8b8b;
}

.navbar.solid.navbar-default .navbar-header .navbar-brand{
	color: #8b8b8b;
}

.navbar.solid.navbar-default .navbar-header .navbar-brand:hover,
.navbar.solid.navbar-default .navbar-header .navbar-brand:focus {
    color: #d2d2d2;
}

.nav.solid.nav.navbar-nav.navbar-right li a{
	color: #8b8b8b;
}

.nav.solid.navbar-nav.navbar-right li a:hover,
.nav.solid.navbar-nav.navbar-right li a:focus{
	color: #d2d2d2;
}

hr{
	max-width: 75px;
	border-width: 2px;
	border-color: #fff;
}

hr.light{
	border-color: #d5d5d5;
}

hr.black{
	border-color: black;
}


.btn{
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus{
	background-color: #b2b2b2;
	border-color: #b2b2b2;
}

.btn.btn-primary{
	color: #000000;
	background-color: #d5d5d5;
	border-color: #d5d5d5;
	border-radius: 75px;
}

#home{
	background: url(../img/bg.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #d5d5d5;
}

h1{
	font-size: 55px;
	font-family: 'Montserrat', sans-serif;
	
}

h4{
	font-family: 'Montserrat', sans-serif;
	
}

p{
	font-family: 'Montserrat', sans-serif;

}

#about{
	padding-top: 100px;
	padding-bottom: 100px;
}

.aboutmeHeader,
.contactHeader{
	color: #fff;
}

.btn.btn-default:hover,
.btn.btn-default:focus{
	background-color: #d5d5d5;
	border-color: #d5d5d5;
}

.btn.btn-default{
	color: #000000;
	background-color: #fff;
	border-color: #fff;
	border-radius: 75px;
}

#projects{
	padding-top: 100px;
	padding-bottom: 100px;
}

.portfolio-box-caption-content{
	font-family: 'Montserrat', sans-serif;
}



#contact{
	padding-top: 100px;
	padding-bottom: 100px;
}

.fa.fa-git-square,
.fa.fa-linkedin-square,
.fa.fa-envelope-o{
	font-size:36px; 
	color:white;
}
.fa.fa-git-square:hover,
.fa.fa-linkedin-square:hover,
.fa.fa-envelope-o:hover{
	color: #d5d5d5;
}

.portfolio-box{
	display: block;
	position: relative;
	margin: 0 auto;
	height: 15vh;
	width: 40vh;
	max-width: 650px;
	margin-bottom: 50px;
	border-style: solid;
	border-width: 3px;
    border-color: black;
}


.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 1;
    background: rgba(59,125,181,1);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.bg-primary{
	background-color: #3b7db5;
}

img{
	display: block;
	object-fit: cover;
}

@media(max-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 12px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 18px;
    }
}


button:focus,
button:hover {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"

}


.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    border: none;
    margin-bottom: 30px;
}

.project {
	text-align: center;
}

.collapsible{
	background-color: #fff;
	outline: none;
	border: none;
}

